<div class="popup" id="popup-edit-user-profile">
    <div class="overlay">
        <div class="content">
             
            <div class="user-container-element">
                <div class="close-btn" onclick="toggleEditUserProfileModal()">&times;</div>
                <h2>Edit User Information</h2>
                
                <form class="edit-user-profile-form" method="POST">
                    <input type="hidden" id="edit-user-profile-id" name="user_id" />
                    
                    
                    <div class="form-row">
                        <div class="mb-3">
                            <p class="form-label">User ID</p>
                            <input type="text" class="display-user-id" readonly>
                        </div>
                        
                        <div class="mb-3">
                            <p class="form-label">Name</p>
                            <input type="text" id="edit-user-profile-name" class="name" name="name" required>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="mb-3">
                            <p class="form-label">Email</p>
                            <input type="email" id="edit-user-profile-email" class="email" name="email" required>
                        </div>
                        
                        <div class="mb-3 position-relative custom-select-wrapper">
                            <p class="form-label">Role</p>
                            <select id="edit-user-profile-role" class="role" name="role" disabled>
                                <option value="admin" {% if user_role == 'admin' %}selected{% endif %}>Admin</option>
                                <option value="project" {% if user_role == 'project' %}selected{% endif %}>Project</option>
                                <option value="sales" {% if user_role == 'sales' %}selected{% endif %}>Sales</option>
                                <option value="marketing" {% if user_role == 'marketing' %}selected{% endif %}>Marketing</option>
                                <option value="leads" {% if user_role == 'leads' %}selected{% endif %}>Leads</option>
                            </select>
                        </div>
                    </div>

                    <button type="submit" class="btn-update w-100">Save Changes</button>
                </form>

                {% if error %}
                <p class="error-message">{{ error }}</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
