<div class="popup" id="modify-permissions-modal">
    <div class="overlay" onclick="closeModifyPermissionsModal()"></div>
    <div class="content">
        <button class="close-btn" onclick="closeModifyPermissionsModal()" aria-label="Close Modal">&times;</button>
        <h2>Modify Role Permissions</h2>
        
        <form class="modify-permissions-form">
            <table class="modify-permissions-table">
                <thead>
                    <tr>
                        <th>Role Name</th>
                        <th>Add</th>
                        <th>Delete</th>
                        <th>Edit</th>
                        <th>View</th>
                    </tr>
                </thead>
                <tbody id="permissions-container">
                    
                </tbody>
            </table>
        </form>
    </div>
</div>
