{% set title = "Projects" %}
{% include 'header.html' with context %}
<div class="table-data">
  <div id="projectTableContainer" class="project-list">  
    {% include "modules/partials/project_table_content.html" %}
  </div>
</div>




{% include 'modules/add_project.html' %}
{% include 'modules/edit_project.html' %}
{% include 'modules/view_project.html' %}

<script src="{{ url_for('static', filename='js/common.js') }}"></script>
<script type="module" src="{{ url_for('static', filename='js/projects.js') }}"></script>
<script src="{{ url_for('static', filename='js/modal.js') }}"></script>



